# Import

In [1]:
import pandas as pd
from pathlib import Path

# Concatenate pickled files

In [2]:
tweetsDF=pd.DataFrame()
for i in range(0,50):
    file = Path('PickleTweets\\'+'TweetsWithTextPickle'+str(i)+'.pkl')
    if file.exists():
        new_tweets=pd.read_pickle('PickleTweets\\'+'TweetsWithTextPickle'+str(i)+'.pkl')
        tweetsDF=pd.concat([tweetsDF,new_tweets])

In [3]:
unique_tweets=tweetsDF.drop_duplicates(subset=['TweetID'])
unique_tweets=unique_tweets.drop(['TweetID','AnnotatorID'], axis=1)
unique_tweets

    HandLabel                                               Text
0     Neutral    @Jovanana koima sta da im dozvoli...budalastine
1    Negative                       U ovom busu svi nešto kašlju
2    Positive  Zašto je važno da uvek imate bočicu vode sa so...
3    Positive  51. Međunarodni sajam nameštaja u Beogradu htt...
4    Positive                          @pticica212 hvala Vama :)
..        ...                                                ...
891  Negative  Na koji konto u aktivi vlada Srbije stavlja po...
892  Negative  RT @DaliborStojicic: Jel ima neko iz EPS-a na ...
896  Negative  RT @SasaRadulovich: Na javnom servisu ide prvo...
897  Negative  imala sam neki trip da su mi roditelji čitali ...
898   Neutral  .@samokazem_ Snagom argumenta, umesto argument...

[20196 rows x 2 columns]

In [4]:
unique_tweets.to_excel("ExcelDocs\\SerbianTweetsDataSet.xlsx")

In [5]:
unique_tweets.groupby(['HandLabel']).agg(['count'])

           Text
          count
HandLabel
Negative   6528
Neutral    8379
Positive   5289